.hero {
  padding-block-start: 1rem;
  padding-block-end: 3rem;
  display: grid;
  place-items: center;
  border: 1px solid red;
}

@media (min-width: 48em) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }
}
