.header__container {
  padding-block: 1.5rem;
  position: relative;
}

.header__link-logo {
  max-width: 10rem;
}

.header__nav-list {
  list-style: none;
}

.header__nav-toggle {
  display: none;
}

@media (max-width: 47.99em) {
  .header__nav-list {
    position: absolute;
    background-color: var(--black);
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 30vh;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem;
  }

  .header__nav-link {
    color: var(--white) !important;
  }

  .header__nav-toggle {
    display: block;
    cursor: pointer;
    background-image: url("../../assets/shared/icon-hamburger.svg");
    background-color: transparent;
    width: 2.4rem;
    height: 1.6rem;
    background-repeat: no-repeat;
    /*background: transparent;*/
    background-position: center;
    border: none;
    margin-left: auto;
  }
}

.header__nav-link {
  color: var(--black);
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: var(--font-size-300);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-100);
}

.header__nav-link:hover {
  border-bottom: 1px solid var(--black);
}
